* {
    margin: 0; 
    padding: 0;
}

.container {
     width: 1140px; 
     margin: 0 
     auto; 
     
    }

    .header {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-top: 42px;
    
    }
.top{
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

    .card-box{
        display: flex;
        justify-content: space-between;
        padding-top: 64px;
        padding-bottom: 64px;
}
    .card{
        width: 359px;
        padding: 44px 32px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .card__image{
        align-self: center;
        margin-bottom: 51px;
    }

.card__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;

}

.big_square{
    display: flex;
        justify-content: space-around;
}


body{
    font-family: sans-serif;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;

}
   
 .text_project{
        width: 75%;
        margin: 32px auto 64px;
        color: #222222;
        opacity: 1;
        text-align: center;
        
        
    
        
    }



.top__box{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url(images/illustration_background.png);
    background-repeat: no-repeat;
    background-position: right center;

}
.top__info{
    padding-top: 115px;
}
.mainhead{
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    flex-grow: 1;
}
.top__button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;

color: #FFFFFF;
}
.main{
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    width: 425px;

}
.secondmainhead{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what_we_do{
    padding-top: 64px;
}
.justhead{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.littlehead{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;

}


.wdws{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.project{
    margin-bottom: 32px;
}

.project__img{
    width: 100%;

}
.project__text{
    font-size: 32px;
line-height: 46px;
text-align: right;
letter-spacing: 0.05em;
color: #FFFFFF;
position: absolute;
top: 64px;
right: 64px;
}
.project__item{
    position: relative;
    flex-grow: 1;
}
.project_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
   
}
.project__item_mar{
    margin-right: 32px;
    position: relative;
}

.project__text_1{
    position: absolute;
    font-size: 28px; 
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    top: 32px;
    left: 32px;
}
.footer{
   
  background: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 112px;

}

.pink_square{
    width: 495px;
    justify-content: right;
    position: relative;


}

.yellow_square{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;

}
.justhead_footer{
    font-size: 36px;
    text-align: left;
    width: 340px;
   line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
    flex-grow: 1;
    padding-top: 115px;
    
}
.text_footer{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 32px;
}

.footer_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
   

    }
.contact_text{
  
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 65px;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;

}

.footer_button{
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
    
}     
.lightgreen_square{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;


}
.grey_square{
    margin-top:64px;
    align-content: left;
    
}
.copy_right{
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    line-height: 26px;
    font-size: 16px;
}