* {
    margin: 0; 
    padding: 0;
}

.container {
     max-width: 1140px; 
     margin: 0 auto; 
     
    }

    .header {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding-top: 42px;
    
    }
    .top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    height: 0px;
}

    .card-box{
        display: flex;
        justify-content: space-between;
        padding-top: 64px;
        padding-bottom: 64px;
}
    .card{
        width: 359px;
        padding: 44px 32px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }
    .card__image{
        align-self: center;
        margin-bottom: 51px;
    }

.card__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;

}

.big_square{
    display: flex;
    justify-content: space-around;

}


body{
    font-family: sans-serif;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;

}
   
 .text_project{
        width: 75%;
        margin: 32px auto 64px;
        color: #222222;
        opacity: 1;
        text-align: center;
        
        
    
        
    }



.top__box{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    

}
.top__info{
    padding-top: 115px;
    background-image: url(images/illustration_background.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
    flex-grow: 1;
}
.mainhead{
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    flex-grow: 1;
}
.top__button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;

color: #FFFFFF;
}
.main{
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    width: 425px;

}
.secondmainhead{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what_we_do{
    padding-top: 64px;
}
.justhead{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.littlehead{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;

}


.project{
    margin-bottom: 112px;
}

.project__img{
    width: 100%;

}
.project__text{
    font-size: 32px;
line-height: 46px;
text-align: right;
letter-spacing: 0.05em;
color: #FFFFFF;
position: absolute;
top: 64px;
right: 64px;
}
.project__item{
    position: relative;
    flex-grow: 1;
    
}
.project_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
   
}
.project__item_mar{
    
    position: relative;

  
}


.project__text_1{
    position: absolute;
    font-size: 28px; 
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    top: 32px;
    left: 32px;
}
.footer{
   
  background: #316099;
  
  padding-bottom: 64px;
  

}

.pink_square{
    width: 495px;
    justify-content: right;
    position: relative;


}

.yellow_square{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;

}
.justhead_footer{
    font-size: 36px;
    text-align: left;
    width: 340px;
   line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
    flex-grow: 1;
    padding-top: 115px;
    
}
.text_footer{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 32px;
}

.footer_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
   

    }
.contact_text{
  
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 65px;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;

}

.footer_button{
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
    
}     
.lightgreen_square{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 64px;


}
.grey_square{
    margin-top:64px;
    align-content: left;
    
}
.copy_right{
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    line-height: 26px;
    font-size: 16px;
}

.contact_top{
    position: relative;
    display: flex;
    margin-bottom: 120px;
    
}
.cont_img{
 width: 100%;
}
.contact_mainhead{
    font-weight: 500; 
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    position: absolute;
    left: 460px;
    top: 46px;
}
.contact_maintext{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 230px;
    top: 124px;
}

.wdws{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.form_square{
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;

}
.adress_square{
    width: 940px;
    display: flex;
    flex-direction: column;
    margin: 0 212px;
}
.cont_head{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase;
}
.cont_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;

}
.adr_text{
    list-style-type: none;
}
.online_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-decoration: none;
}
.wdws_text{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;

}
.little_wdws{
    width: 428px;
    height: 72px;
    left: 670px;
    top: 608px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
}
.big_wdws{
    width: 428px;
    height: 144px;
    left: 670px;
    top: 892px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.2;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.form_head{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-transform: uppercase ;
}

.button{
    width: 428px;
    height: 72px;
    left: 670px;
    top: 1108px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    border-color: white;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase ;
}

@media(max-width:1024px)
{
    .container{
        padding-left: 32px;
        padding-right: 32px;
        

    }
    .top__info{
        background-position: right 280px ;
    }
    .card-box{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 32px;
    }
    .project{
        margin-bottom: 109px;
    }
   .project_parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -5px;
    margin-top: 16px;
   }
   .project__item_mar{
    width: calc(1/2*100% - 10px);
    margin: 5px;
   }
   .yellow_square{
       padding-bottom: 64px;
       justify-content: space-around;
       margin-top: -142px;
       padding: 0 90px;
   }
   .pink_square{
       justify-content: left;
       width: 336px;
   }
   .footer{
    padding-top: 109px;
   }
   .footer_button{
       padding: 5px 35px;
       margin-top: 164px;
 }

   .lightgreen_square{
    margin-left: 124px;
 }
   .footer_contact{
     flex-direction: column;
    
 }
 
    
}

@media(max-width:667px)

{
    .header{
        padding-top: 24px;
    }
    .top{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    
    .top__info{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
       
        background-image: none;
        ;
    }
    .mainhead{
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        width: 100%;
        text-align:center;

    }
    .main{
        width: 100%;
        text-align: center;
    }
    .top__button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
        margin: 20px 100px;
        
        
    }
    .justhead{
        font-size: 24px;
        line-height: 28px;
    }
    .what_we_do {
        padding-top: 48px;
    }
    .card-box{
        padding-top: 32px;
    }
    .card{
        width: 100%;
    }
    .text_project{
        width: 100%;
    }
    .project{
        margin-bottom: 61px;
    }
    .project__text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;

    }
    .project__text_1{
        left: 16px;

    }
    .project_parent{
        flex-direction: column;
        margin-top: 16px;
    }
    .project__item_mar{
        margin-right: 0;
        margin-bottom: 16px;
        width: fit-content;
    }
    .footer{
        margin: 0;
        padding-bottom: 32px;
        padding-top: 16px;
        
    }
    .yellow_square{
        flex-direction: column;
        margin-top: 0

    }
    .pink_square{
        justify-content: center;
        width: fit-content;
    }
    .justhead_footer{
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 250px;
        padding-top: 16px;
        padding-left: 40px;
        margin-bottom: 16px;
    }
    .text_footer{
        text-align: center;
        width: 340px
    }
    .lightgreen_square{
        margin-left: 0;
        margin-top: 32px;
    }
    .grey_square{
        text-align: center;
        margin-top: 37px;
    }
    .footer_button{
        margin-top: 0;
        margin-bottom: 41px;
    }
}
